<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greetgo.eschool.dao.StudentMapper">
    <resultMap id="result" type="student">
        <id property="id" column="student_id"/>
        <result property="name" column="student_name"/>
        <result property="grade" column="student_grade" />
    </resultMap>

    <select id="getAllStudents" resultType="student" resultMap="result">
        SELECT * FROM student
    </select>

    <insert id="insertStudent" parameterType="student" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO student (student_name, student_grade)
        VALUES (#{name}, #{grade});
    </insert>

    <delete id="deleteStudent" parameterType="int">
        DELETE FROM student WHERE student_id = #{studentId}
    </delete>

    <select id="getStudentById" resultType="student" resultMap="result">
        SELECT * FROM student WHERE student_id = #{studentId}
    </select>

    <insert id="insertStudentWithId" parameterType="student" keyProperty="id" useGeneratedKeys="false">
        INSERT INTO student(student_id, student_name, student_grade)
        VALUE (#{id}, #{name}, #{grade})
    </insert>
</mapper>